.cta {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

.btn {
  border: none;
  padding: 0.8rem 2rem;
}

.btn {
  &--login {
    background-color: inherit;
    color: $gray-dark;
  }
  &--cta {
    background-color: $primary-cyan;
    border-radius: 5rem;
    &:hover {
      background-color: rgba($primary-cyan, 0.8);
    }
  }
}
.hero {
  &__img {
    width: 100%;
  }
}

.form {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  padding: 4rem 6rem;
  gap: 2rem;
  background-color: $primary-violet;
  width: 100%;
  background-image: url('../images/bg-shorten-desktop.svg');
  background-size: cover;
   border-radius:1rem;

  &__input {
    width: 100%;
  }
  & input {
    border: none;

    width: 100%;
    height: 4.5rem;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    &::placeholder {
      color: $secondary-color;
      font-size: 1.6rem;
      font-family: inherit;
    }
  }
  &__btn {
    width: 16rem;
    height: 4.5rem;
    background-color: $primary-cyan;
    border-radius: 1rem;
    &:hover {
      background-color: rgba($primary-cyan, 0.8);
    }
  }
}

.features {
   display: grid;
   position: relative;
   grid-template-columns: repeat(3,1fr);
   padding-top: 4rem;
   column-gap: 4rem;
   align-items: start;
   &::after {
      content: '';
      height: 1rem;
      width: 80%;
      background-color:$primary-cyan;
      z-index: -5;
      position: absolute;
      top:50%;
      left:10%;
   }
   
}
.feature {
   background-color: #fff;
   padding:4rem;
   border-radius:1rem;
   position: relative;
   &__two {
      margin-top:6rem;
   }
   &__three {
      margin-top: 12rem;
   }
   &__icon-box {
      position: absolute; 
      top: 0;
      left: 0;
      height: 7rem;
      width: 7rem;
      transform: translate(50%,-50%);
      border-radius: 50%;
      background-color:$primary-violet;
      display:flex;
      align-items:center;
      justify-content: center;
   }
}

.cta {
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
   padding:4rem;
   gap: 1rem;
   width:60rem;
   margin:0 auto;

   &__btn {
      background-color : $primary-cyan;
      border-radius: 10rem;
      &:hover{
         background-color: rgba($primary-cyan, 0.8);
      }
   }
}