.header {
  display: flex;

  height: 8rem;

  align-items: center;
}

.nav {
  margin-left: 10%;
  &__list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  &__link:link,
  &__link:visited {
    color: $gray-dark;
    text-decoration: none;
  }
  &__link:hover,
  &__link:active {
    color: $blue-dark;
  }
}

.header,
.section-hero,
.features,
.link__previews,
.footer
 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem;
}
.section-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}

.section-features {
  margin-top: -10rem;
  padding-top: 12rem;
  padding-bottom: 10rem;
  display: flex;
  align-items:center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba($gray-dark,0.25);
}

.section-cta {
   height:22rem;
   background-color : $primary-violet;
   background-image: url('../images/bg-boost-desktop.svg');
}
.footer-section {
   background-color:$primary-violet;
}